<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- bower:css -->
    <!-- endbower -->
    <!-- endinject -->

    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <header><img src='/img/chassis.png' /></header>
    <h1>Chassis</h1>

    <div id="about-chassis">Something's wrong; you shouldn't see this text.</div>

    <!-- bower:js -->
    <!-- endbower -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
